@model IEnumerable<Rocket>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to watch list app</h1>
    <a asp-controller="Home" asp-action="LaunchList" class="btn btn-primary add-launch-button mb-4">Add</a>
</div>

<p><strong>Below are your interested launches</strong></p>
<div id="watch-list" class="row mb-2">
    @if (Model.Count() == 0)
    {
        <p class="text-danger"> Watch list empty, please click "add button" above.</p>
    }

    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-12 d-none d-lg-block">
                    <img src="@item.Image">
                </div>
                <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">@item.Name</h3>
                <p class="card-text mb-auto">@item.Description</p>
                </div>
            </div>
        </div>
    }
</div>
